rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. REGLA GLOBAL SUPER ADMIN
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email == 'cristiangarzon1231@gmail.com';
    }
    match /{document=**} {
      allow read, write: if isSuperAdmin();
    }

    // 2. REGLAS PARA USUARIOS NORMALES
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 3. COLECCIONES PÚBLICAS (Catálogos)
    match /exercises/{document=**} {
      allow read: if request.auth != null;
    }
  }
}
