<!-- src/app/components/workout-create.component.html -->
<div class="p-6">
  <h2 class="text-2xl font-bold mb-4">Crear Nueva Rutina</h2>

  <input
    [(ngModel)]="nombreRutina"
    placeholder="Nombre de la rutina"
    class="p-2 border rounded w-full mb-4"
  />

  <div class="mb-4">
    <h3 class="font-semibold text-lg">Agregar Ejercicio</h3>
    <div class="grid grid-cols-6 gap-3">
      <input
        [(ngModel)]="newExercise.nombre"
        placeholder="Nombre"
        class="p-2 border rounded"
      />
      <input
        [(ngModel)]="newExercise.series"
        type="number"
        placeholder="Series"
        class="p-2 border rounded"
      />
      <input
        [(ngModel)]="newExercise.repeticiones"
        placeholder="Reps"
        class="p-2 border rounded"
      />
      <input
        [(ngModel)]="newExercise.descanso"
        placeholder="Descanso"
        class="p-2 border rounded"
      />
      <label [(ngModel)]="newExercise.tipo" class="p-2 border rounded">
        <option value="compuesto">Compuesto</option>
        <option value="aislamiento">Aislamiento</option>
      </label>
      <button
        (click)="addExercise()"
        class="bg-green-500 text-white px-3 py-2 rounded hover:bg-green-600"
      >
        Agregar
      </button>
    </div>
  </div>

  <div *ngIf="ejercicios.length > 0" class="mt-6">
    <h3 class="font-semibold text-lg mb-2">Ejercicios Agregados</h3>
    <ul class="space-y-2">
      <li
        *ngFor="let e of ejercicios; let i = index"
        class="flex justify-between bg-gray-700 text-white p-3 rounded"
      >
        <span
          >{{ e.nombre }} - {{ e.series }}x{{ e.repeticiones }} ({{
            e.tipo
          }})</span
        >
        <button
          (click)="deleteExercise(i)"
          class="bg-red-500 px-3 py-1 rounded hover:bg-red-600"
        >
          Eliminar
        </button>
      </li>
    </ul>
  </div>

  <button
    (click)="saveWorkout()"
    class="mt-6 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
  >
    Guardar Rutina
  </button>
</div>
