<div class="p-6 bg-gray-900 text-white rounded-lg shadow-md text-center">
  <h2 class="text-2xl font-bold mb-6 text-yellow-400 animate-pulse">⏱️ Cronómetro de Descanso</h2>

  <div class="text-6xl font-mono text-yellow-400 mb-6 animate-fadeIn">
    {{ timeFormatted }}
  </div>

  <div class="flex justify-center gap-4">
    <app-ui-button
      (clicked)="start()"
      variant="primary"
      customClass="w-full flex items-center justify-center gap-2">
      <mat-icon>play_arrow</mat-icon>
      Iniciar
    </app-ui-button>

    <app-ui-button
      (clicked)="pause()"
    >
      ⏸️
    </app-ui-button>

    <!-- Botón Reset -->
    <app-ui-button
      (clicked)="reset()"
      customClass="bg-red-500 hover:bg-red-600 text-white rounded-full w-14 h-14 flex items-center justify-center shadow-lg transition-transform transform hover:scale-110 !p-0"
      matTooltip="Reiniciar"
    >
      🔄
    </app-ui-button>
  </div>
</div>
