<div class="p-4 space-y-4">
    <h2 class="text-2xl font-bold mb-4 text-yellow-500">
      Cronómetro de Descanso
    </h2>
  
    <!-- Selector de tiempo de descanso personalizado -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Tiempo de Descanso (Minutos)</mat-label>
      <mat-select [(ngModel)]="selectedRestTime" name="restTime" title="Tiempo de Descanso">
        <mat-option *ngFor="let option of restTimeOptions" [value]="option">
          {{ option }} Segundos
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Visualización del tiempo formateado -->
    <div class="text-4xl font-mono text-yellow-500">
      {{ timeFormatted }}
    </div>
  
    <!-- Botones de acción -->
    <div class="flex gap-2">
      <app-ui-button 
        (clicked)="start()" 
        variant="primary" 
        [disabled]="isRunning"
        customClass="flex items-center gap-2">
        <mat-icon>play_arrow</mat-icon> Iniciar
      </app-ui-button>

      <app-ui-button 
        (clicked)="pause()" 
        variant="secondary" 
        [disabled]="!isRunning"
        customClass="flex items-center gap-2">
        <mat-icon>pause</mat-icon> Pausar
      </app-ui-button>

      <app-ui-button 
        (clicked)="reset()" 
        variant="ghost" 
        customClass="flex items-center gap-2 text-zinc-400 hover:text-white">
        <mat-icon>refresh</mat-icon> Reset
      </app-ui-button>
    </div>
  </div>